{% extends 'base.html.twig' %}

{% block title %}Page en travaux !
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row d-flex justify-content-center text-align-center">
			<img src="{{ asset('images/EnTravaux.png') }}" alt="page en travaux">
		</div>
	</div>

{% endblock %}
